<h3>Lista de Tarefas</h3>

@using TreeGridComponent.Data;
@using Syncfusion.Blazor.TreeGrid;

<MudPaper Width="50%">
    <SfTreeGrid DataSource="@TreeGridData" IdMapping="TaskId" AllowSelection="true" ParentIdMapping="ParentId"
        TreeColumnIndex="2">
        <TreeGridColumns>
            <TreeGridColumn Type="Syncfusion.Blazor.Grids.ColumnType.CheckBox" Width="30"></TreeGridColumn>
            <TreeGridColumn Field="TaskId" HeaderText="N.º" Width="40"
                TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"></TreeGridColumn>
            <TreeGridColumn Field="TaskName" HeaderText="Designação" Width="220"></TreeGridColumn>
            <TreeGridColumn Field="Duration" HeaderText="" Width="60"
                TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"></TreeGridColumn>
            <TreeGridColumn Field="Progress" HeaderText="" Width="60"
                TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"></TreeGridColumn>
            <TreeGridColumn Field="Priority" HeaderText="" Width="60"></TreeGridColumn>
        </TreeGridColumns>
    </SfTreeGrid>
</MudPaper>

@code {
    public List<TreeData> TreeGridData { get; set; }
    protected override void OnInitialized()
    {
        this.TreeGridData = TreeData.GetSelfDataSource().ToList();
    }
}
