@inherits LayoutComponentBase

<MudThemeProvider Theme="ADN" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout mud-theme-primary>

    <TopMenu />

    <MudMainContent>
        <div class="content px-4" style="padding-top: 4px;">
            @Body
        </div>
    </MudMainContent>

</MudLayout>


@code {


    MudTheme ADN = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = "#2878f7"
        },


    };


}
