@inherits LayoutComponentBase

<MudThemeProvider Theme="DarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout mud-theme-primary>

    <TopMenu />

    <MudMainContent>
        <div class="content px-4" style="padding-top: 4px;">
            @Body
        </div>
    </MudMainContent>

</MudLayout>


@code {
    MudTheme ADN = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = "#2878f7",
            AppbarBackground = "#FFFFFF",
        },

        Typography = new Typography()
        {
            Default = new Default()
            {
                FontFamily = new[] { "Montserrat", "Roboto", "Helvetica", "Arial", "sans-serif" },
                FontSize = ".875rem",
                FontWeight = 400,
                LineHeight = 1.43,
                LetterSpacing = ".01071em"
            }
        }

    };

    MudTheme DarkMode = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#27272f",
            Background = "#32333d",
            BackgroundGrey = "#27272f",
            Surface = "#373740",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            DrawerIcon = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.10)",
            TextPrimary = "#FFFFFF",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            Divider = "rgba(255,255,255, 0.12)",
            DividerLight = "rgba(255,255,255, 0.06)",
            TableLines = "rgba(255,255,255, 0.12)",
            LinesDefault = "rgba(255,255,255, 0.12)",
            LinesInputs = "rgba(255,255,255, 0.3)",
            TextDisabled = "rgba(255,255,255, 0.2)",
            Primary = "#2878f7"
        },

        Typography = new Typography()
        {
            Default = new Default()
            {
                FontFamily = new[] { "Montserrat", "Roboto", "Helvetica", "Arial", "sans-serif" },
                FontSize = ".875rem",
                FontWeight = 400,
                LineHeight = 1.43,
                LetterSpacing = ".01071em"
            }
        }



    };


}
